DOCTYPE
html(lang='en')
    head
        title Dans Blog
    body
        nav.top-nav
            div.top-nav-container
                div.root-nav
                    a.root-navbar(href="/blogs") Dans Blog
                div
                    ul.navbar-right
                        li 
                            a(href="/login") Login
                        li
                            a(href="/register") Sign Up
                        li
                            a(href="logout") Logout
        