DOCTYPE
html(lang='en')
    head
        meta(charset-'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../styles/partials.css")
    body
        .root-nav
            .left-nav
                a.root-navbar(href="/") Home
            .right-nav
                ul.nav-wrapper
                    li.nav-login 
                        a(href="/login") Login
                    li.nav-register
                        a(href="/register") Sign Up
                    li.nav-logout
                        a(href="logout") Logout
        