include ../partials/header.pug
title New Comment
link(text="text/css" rel="stylesheet" href="../styles/new.css")
.comm-box
    h1 Add New Comment for #[h1= blogComment.title]
        .comm-form
            form.com-room(action="/blogs" + blogComment._id + "/comments" method="POST")
                .com-input-text
                    input.com-text(type="text" name="comment[text]" placeholder="text")
                .com-input-author
                    input.com-author(type="text" name="comment[author]" placeholder="author")
                .com-submit
                    button.comSubmit Submit!