DOCTYPE
html
    head
        
        link(rel="stylesheet" href="../styles/landing.css")
        head
            meta(charset-'utf-8')
            title Landing
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
        body
            div.landscape
                div.landscape-top
                    img.avatar-img(src="../images/avatrone.png")
                    h1 Login Here
                    form
                    p username
                        input(type="text" name="username" placeholder="Username")
                    p Password
                        input(type="text" name="password" placeholder="Password")
                        input(type="submit" name="submit" value="Login")
                        a(href="#") Forgot Password
                    //- img.img-landing(src="images/lanone.jpg")
                div.landscape-bottom
                    h1 bottom...

                