DOCTYPE
html
    include partials/header.pug
    head
        title Dansblog
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    body
        section.landscape#landscape
            div
                h3 Blog
        
        section.landscape-bottom
            h3 Tech News


        div.cards-block-one
            div.card
                div.card-top
                     span Super Mom
                div.avatar
                    img.avatar-img(src="images/mynz.jpeg" alt="mynz")
                    h5 Mrs. Goldberg
                div.card-bottom
                    p Lifes a garden dig it! gotta keep on keepin on..
            div.card
                div.card-top
                     span Super Mom
                div.avatar
                    img.avatar-img(src="images/mynz.jpeg" alt="mynz")
                    h5 Mrs. Goldberg
                div.card-bottom
                    p Lifes a garden dig it! gotta keep on keepin on..
        div.cards-block-one
            div.card
                div.card-top
                     span Super Mom
                div.avatar
                    img.avatar-img(src="images/mynz.jpeg" alt="mynz")
                    h5 Mrs. Goldberg
                div.card-bottom
                    p Lifes a garden dig it! gotta keep on keepin on..
                    
                