DOCTYPE
html
    include partials/header.pug
    head
        title Dansblog
    body
        section.landscape#landscape
            h1 Dan Gathers
                h3 BLOG
        
        section.landscape-bottom
            h3 About Meh


        section.cards-container
            div.cards-handle
                h3 Cards Section


