
.reg-box
    h1.reg-title Register your account here
    .input-box
        form.reg-form(action="/register" method="POST")
            .reg-login
                input.regNew(type="text" name="username" placeholder="Username name")
            .reg-password
                input.passNew(type="text" name="password" placeholder="Password")
            button.reg-btn Sign Up
    .reg-Oauth
        .reg-google
            a.google-link(href="/google") Google+
        .reg-twitter
            a.twitter-link(href="/twitter") Twitter

