include ../partials/header.pug
    
link(text="text/css" rel="stylesheet" href="../styles/main.css")
body.mainfloor
    .mainroom
    
        .mainroom-top
            h3 Dan Gathers Blog
            a.create-blog(href="blogs/new") Add New Blog
        .cards
            each blog in blogCard
                .blog-card-top
                    a.id-link(href='/blogs/' + blog._id)
                        h2.blog-title #{blog.title}
                        img.blog-image(src=blog.image)
                        p.blog-desc #{blog.description}
                        p.blog-sig By #[a.git-link(href="https://github.com/DanGathers") Dan Gathers]   
                        p.blog-date Posted on: #{blog.created}
        .right-sidebar
