include ../partials/header.pug
    
link(rel="stylesheet" href="../styles/main.css")
body.landscape-wrapper
    div.landscape#landscape
        div
            a(href="blogs/show") Show Page
            h3 Blog
            a.create-blog(href="blogs/new") Add New Blog
        
        .landscape-middle
            h3 Tech News
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id provident amet aut commodi quaerat ducimus voluptate a dolor illo, corrupti sit adipisci aperiam qui placeat magnam voluptas nihil. Suscipit adipisci, cumque magni, aliquam architecto ipsa ipsum repellat quae nulla ea distinctio assumenda perferendis impedit dolorem itaque! Fugiat doloribus culpa magni ab. Tenetur sunt deserunt exercitationem error quas. Ea tempore facilis atque architecto obcaecati maxime vel eligendi, doloremque adipisci nam cumque inventore sunt doloribus porro asperiores esse impedit, illo explicabo!


        .cards
            each blog in blogCard
                h2.blog-title #{blog.title}
                img.blog-avatar(src="")
                p.blog-post #{blog.blogpost}
                p.blog-date #{blog.created}