include ../partials/header.pug
    
link(rel="stylesheet" href="../styles/main.css")
body.landscape-wrapper
    div.landscape#landscape
        div
            h3 Blog
        
        div.landscape-middle
            h3 Tech News
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id provident amet aut commodi quaerat ducimus voluptate a dolor illo, corrupti sit adipisci aperiam qui placeat magnam voluptas nihil. Suscipit adipisci, cumque magni, aliquam architecto ipsa ipsum repellat quae nulla ea distinctio assumenda perferendis impedit dolorem itaque! Fugiat doloribus culpa magni ab. Tenetur sunt deserunt exercitationem error quas. Ea tempore facilis atque architecto obcaecati maxime vel eligendi, doloremque adipisci nam cumque inventore sunt doloribus porro asperiores esse impedit, illo explicabo!


        div.cards
            div.card
                div.card-top
                     span Super Mom
                div.avatar
                    img.avatar-img(src="images/mynz.jpeg" alt="mynz")
                    h5 Mrs. Goldberg
                div.card-bottom
                    p Lifes a garden dig it! gotta keep on keepin on..
            div.card
                div.card-top
                     span Super Mom
                div.avatar
                    img.avatar-img(src="images/mynz.jpeg" alt="mynz")
                    h5 Mrs. Goldberg
                div.card-bottom
                    p Lifes a garden dig it! gotta keep on keepin on..
            div.card
                div.card-top
                     span Super Mom
                div.avatar
                    img.avatar-img(src="images/mynz.jpeg" alt="mynz")
                    h5 Mrs. Goldberg
                div.card-bottom
                    p Lifes a garden dig it! gotta keep on keepin on..
                    
 
            
        
