include ../partials/header.pug
    
link(rel="stylesheet" href="../styles/main.css")
body
    .landscape
        .landscape-top
            a(href="blogs/show") Show Page
            h3 Blog
            a.create-blog(href="blogs/new") Add New Blog
        .cards
            each blog in blogCard
                .blog-card-top
                    h2.blog-title #{blog.title}
                    img.blog-image(src=blog.image)
                    p.blog-desc #{blog.description}
                    p.blog-date #{blog.created}
                    .blog-sig-block
                        a(href="#") Dan Gathers
        .right-sidebar
            h3 About Me
