include ../partials/header.pug
title New Blog

div
    h1 Add New Blog Post
    div.input-box
        form(action="/blogs" method="POST")
            div.inputNewBlog
                input.titleNew(type="text" name="title" placeholder="Title of Blog")
            div.inputNewBlog
                input.imageNew(type="text" name="image" placeholder="Add Image Here")
            div.inputNewBlog
                input.descNew(type="text" name="description" placeholder="Describe Blog Here")
            div.inputNewBlog
                textarea.blogNew(name="blogpost" placeholder="Add a new blog post here...")
            button.blogSubmit Submit!
    a(href="/blogs") Back