include ../partials/header.pug

title Show Page
link(type="text/css" rel="stylesheet" href="../styles/show.css")
body
    .showroom
        h1 This is the showroom
        p.blog-post #{showBlog.blogpost}
