* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.landscape-wrap {
    background: #e8e7e7;
}
 .landscape-head {
     position: relative;
     margin: 50px 50px 0px 50px;
     color: orange;
}

.landscape-box {
    background: #000;
    height: 700px;
    margin: 50px;
    padding: 3px;
}
.landscape-box-a {
    background: url("../images/lanone.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 600px;
    margin: 50px;
    padding: 3px;
}

.landscape {
    position: relative;
    background: rgba(0,0,0,0.4);
    border: 1px solid #989898;
    border-radius: 70px 0 70px 0;
    height: 500px;
    padding: 3px;
    color: #fff;
    margin: 50px;
}

.landscape-top h1 {
    position: relative;
    top: -40px;
    text-align: center;
    font-weight: 100;
    border-radius: 60px;
    padding-top: 20px;
}


.landscape-top {
    margin-top: 20px;
    height: 320px;
    width: 220;
    background: #000;
    box-sizing: border-box;
    float: right;
    position: relative;
    top: 10%;
    right: 3%;
    padding: 0 11 12 13;
    border-radius: 70px 0 70px 0;
    border: 1px solid #989898;
    opacity: 0.8;
}

.avatar-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #0066ff;
    border: #fff solid 1px;
    position: relative;
    top: -40px;
    left: 50%;
}

.landscape-top p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.landscape-top input {
    width: 100%;
    margin-bottom: 10px;
}
.landscape-top input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 16px;
}

.landscape-top input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    background: #0066ff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.landscape-top input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.landscape-top a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #a9a9a9;
}

.landscape-top a:hover {
    color: #ffc107;
}

.landscape-desc {
    color: #fff;
    text-align: center;
    position: relative;
    top: 30%;
    line-height: 50px;
    font-size: 45px;
    text-shadow: 3px 8px 8px #030303;
    padding: 0px 300px 0px 300px;
}

.landscape-desc a {
    text-decoration: none;
    color: #fff;
}

.landscape-desc a:hover {
    color: #ffc107;
}
