
* {
    margin: 0;
    padding: 0;
    display: grid;
}

.landscape {
    grid-gap: 10px; 
    grid-template-columns: repeat(8, 4fr);
    grid-template-rows: repeat(4, minmax(150px, auto)); 
}

.landscape-top {
    grid-template-columns: repeat(3, 1fr);
    font-size: 36px;
    grid-column: 2/8;
    grid-row: 1;
    background: #fff;
    text-align: center;
}

.right-sidebar {
    grid-column: 7/8;
    grid-row: 2;
    background: #fff;
}

.cards {
    grid-column: 3/6;
    grid-template-columns: repeat(2, 2fr);
    grid-row: 2;
    grid-gap: 30px;
    background: #fff;
}

.blog-card-top {
}

.blog-title {
}

.blog-image {
    height: 200px;
    width: 400px;
}

.blog-desc {
}

.blog-date {
    font-size: 8px;
}

.blog-sig-block {
}