.mainfloor {
    background: #f4f4f4;
}
.mainroom {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}

.mainroom-top {
    grid-column: 2/8;
    grid-row: 1;
    background: #060606;
    color: #fff;
    height: 140px;
    border-radius: 3px;
}
.mainroom-top h3 {
    font-size: 40px;
}

.right-sidebar {
    grid-column: 7/8;
    grid-row: 2;
    text-align: center;
}

.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 4/5;
    grid-row: 2;
    grid-gap: 60px;
}

.blog-card-top {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}
.blog-card-top:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px);
}

.blog-title {
    grid-row: 1;
}

.blog-image {
    grid-row: 2;
    height: 200px;
    width: 400px;
}

.blog-desc {
    grid-row: 3;
}

.blog-date {
    grid-row: 5;
    font-size: 8px;
}

.blog-sig {
    grid-row: 4;
}

.showpage {
    grid-row: 6;
}